<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>哔哩哔哩 (゜-゜)つロ 干杯~-bilibili</title>
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/components.css" rel="stylesheet">
    <link href="img/ico1.png" rel="shortcut icon">
</head>
<body>
    <div id="header-box">
        <!-- 头部导航区域 -->
        <header class="nav-menu">
            <div class="blur-bg"></div>
            <div class="nav-mask"></div>
            <div class="header clearfix">
                <ul class="left-nav clearfix">
                    <li><a href="#" title="主站" class="item ico1">主站</a></li>
                    <li><a href="#" title="来探索bilibili音乐的世界吧~" class="item">音频</a></li>
                    <li id="gameOver">
                        <a href="#" title="游戏中心" class="item">游戏中心</a>
                        <!-- 游戏中心二级菜单 -->
                        <div class="game-box">
                            <div class="img-box">
                                <div class="big-img">
                                    <a href="#">
                                        <img src="img/yx-img1.jpg" alt="BanG Dream！">
                                        <span>BanG Dream！</span>
                                    </a>
                                </div>
                                <div class="img-list">
                                    <a href="#" title="命运-冠位指定（Fate/GO）">
                                        <img src="img/yx-img2.png" alt="命运-冠">
                                        <span>命运-冠</span>
                                    </a>
                                    <a href="#" title="Unheard-疑案追声">
                                        <img src="img/yx-img3.png" alt="Unheard">
                                        <span>Unheard</span>
                                    </a>
                                    <a href="#" title="碧蓝航线">
                                        <img src="img/yx-img4.png" alt="碧蓝航线">
                                        <span>碧蓝航线</span>
                                    </a>
                                </div>
                            </div>
                            <div class="game-list">
                                <div class="wrap">
                                    <a href="#">原神</a>
                                    <a href="#">英雄传说：星之轨迹</a>
                                    <a href="#">辐射：避难所Online</a>
                                    <a href="#">重装战姬</a>
                                    <a href="#">公主连结Re:Dive</a>
                                    <a href="#">魔法纪录 魔法少女小圆外传</a>
                                    <a href="#">大王不高兴</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="liveOver">
                        <a href="#" title="直播" class="item">直播</a>
                        <!-- 直播二级菜单 -->
                        <div class="live-box">
                            <div class="hot-live">
                                <h3 class="title">热门直播：</h3>
                                <div class="room-list clearfix">
                                    <a href="#">
                                        <img src="img/live-img1.webp">
                                        <span class="hover">LIVE</span>
                                        <span class="text">中国传媒大学动画作品</span>
                                    </a>
                                    <a href="#">
                                        <img src="img/live-img2.webp">
                                        <span class="hover">LIVE</span>
                                        <span class="text">两仪滚</span>
                                    </a>
                                    <a href="#">
                                        <img src="img/live-img3.webp">
                                        <span class="hover">LIVE</span>
                                        <span class="text">小番薯tudou</span>
                                    </a>
                                    <a href="#">
                                        <img src="img/live-img4.webp">
                                        <span class="hover">LIVE</span>
                                        <span class="text">一米八的坤儿</span>
                                    </a>
                                    <a href="#">
                                        <img src="img/live-img5.webp">
                                        <span class="hover">LIVE</span>
                                        <span class="text">神兽v尼玛</span>
                                    </a>
                                    <a href="#">
                                        <img src="img/live-img6.webp">
                                        <span class="hover">LIVE</span>
                                        <span class="text">睡神不醒丶</span>
                                    </a>
                                </div>
                            </div>
                            <div class="live-act">
                                <h3 class="title">热门活动</h3>
                                <a href="#"><img src="img/act-img1.png"></a>
                                <a href="#"><img src="img/act-img2.png"></a>
                            </div>
                        </div>
                    </li>
                    <li><a href="#" title="会员购" class="item">会员购</a></li>
                    <li><a href="#" title="漫画" class="item">漫画</a></li>
                    <li id="bwOver">
                        <a href="#" title="BW" class="item">BW</a>
                        <div class="bw-box">
                            <a href="#"><img src="img/bw-img1.webp"></a>
                            <a href="#"><img src="img/bw-img2.webp"></a>
                        </div>
                    </li>
                    <li id="tenOver">
                        <a href="#" title="十周年" class="item">十周年</a>
                        <div class="ten-years-box">
                            <a href="#">
                                <img src="img/ten-years.webp">
                                <span>干杯十周年</span>
                            </a>
                        </div>
                    </li>
                    <li id="appOver">
                        <a href="#" title="下载APP" class="ico2 item">下载APP</a>
                        <div class="app-box">
                            <img src="img/app-wx.png">
                        </div>
                    </li>
                </ul>
                <ul class="right-link">
                    <li class="item1" id="loginOver">
                        <a href="#" class="img"></a>
                        <div class="login-box">
                            <p class="tip">登录后你可以：</p>
                            <img src="img/login-bg.png">
                            <a href="#" class="login-href">登录</a>
                            <p class="reg">首次使用？<a href="#">点我去注册</a></p>
                        </div>
                    </li>
                    <li class="item2" id="hisOver">
                        <a href="#" class="his-link">历史</a>
                        <div class="his-box">
                            <p class="txt">登录后有更多功能哦~</p>
                            <div class="wrap">
                                <a href="#" class="login-btn">登录</a>
                            </div>
                            <p class="p-more">没有数据哦，多看点视频吧</p>
                            <a href="#" class="a-more">查看更多<i class="arrow"></i></a>
                        </div>
                    </li>
                    <li class="item3" id="navOver">
                        <a href="#" class="link">投稿</a>
                        <nav class="nav-box">
                            <a href="#" class="item ico1"><i></i>专栏投稿</a>
                            <a href="#" class="item ico2"><i></i>音频投稿</a>
                            <a href="#" class="item ico3"><i></i>视频投稿</a>
                            <a href="#" class="item ico4"><i></i>投稿管理</a>
                            <a href="#" class="item ico5"><i></i>视频中心</a>
                        </nav>
                    </li>
                </ul>
            </div>
        </header>
        <!-- 搜索框区域 -->
        <div class="search-box">
            <h1 class="logo"><a href="#"><img src="img/logo.png"></a></h1>
            <div class="search">
                <a class="btn" href="#">
                    <span>排行榜</span>
                </a>
                <form class="form" action="">
                    <input type="text" class="text" placeholder="最帅的海总《黑衣人》再就业！">
                    <input type="submit" class="sub" value="">
                </form>
            </div>
        </div>
    </div>
    <div id="bili-wrap">
        <!-- 带二级菜单的导航 -->
        <div class="menu-wrap">
            <ul class="clearfix menu">
                <li class="home">
                    <a href="#">
                        <i></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <i>999+</i>
                        <span>动画</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">MAD·AMV</a></li>
                        <li><a href="#">MMD·3D</a></li>
                        <li><a href="#">短片·手书·配音</a></li>
                        <li><a href="#">综合</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>70</i>
                        <span>番剧</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">连载动画</a></li>
                        <li><a href="#">完结动画</a></li>
                        <li><a href="#">资讯</a></li>
                        <li><a href="#">官方延伸</a></li>
                        <li><a href="#">新番时间表</a></li>
                        <li><a href="#">番剧索引</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>175</i>
                        <span>国创</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">国产动画</a></li>
                        <li><a href="#">国产原创相关</a></li>
                        <li><a href="#">布袋戏</a></li>
                        <li><a href="#">动态漫·广播剧</a></li>
                        <li><a href="#">资讯</a></li>
                        <li><a href="#">新番时间表</a></li>
                        <li><a href="#">国产动画索引</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>999+</i>
                        <span>音乐</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">原创音乐</a></li>
                        <li><a href="#">索引</a></li>
                        <li><a href="#">VOCALOID·UTAU</a></li>
                        <li><a href="#">电音</a></li>
                        <li><a href="#">演奏</a></li>
                        <li><a href="#">MV</a></li>
                        <li><a href="#">音乐现场</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>433</i>
                        <span>舞蹈</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">宅舞</a></li>
                        <li><a href="#">三次元舞蹈</a></li>
                        <li><a href="#">舞蹈教程</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>999+</i>
                        <span>游戏</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">单机游戏</a></li>
                        <li><a href="#">电子竞技</a></li>
                        <li><a href="#">手机游戏</a></li>
                        <li><a href="#">网络游戏</a></li>
                        <li><a href="#">桌游棋牌</a></li>
                        <li><a href="#">GMV</a></li>
                        <li><a href="#">音游</a></li>
                        <li><a href="#">Mugen</a></li>
                        <li><a href="#">游戏赛事</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>999+</i>
                        <span>科技</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">趣味科普人文</a></li>
                        <li><a href="#">野生技术协会</a></li>
                        <li><a href="#">演讲·公开课</a></li>
                        <li><a href="#">星海</a></li>
                        <li><a href="#">机械</a></li>
                        <li><a href="#">汽车</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>521</i>
                        <span>数码</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">手机平板</a></li>
                        <li><a href="#">电脑装机</a></li>
                        <li><a href="#">摄影摄像</a></li>
                        <li><a href="#">影音智能</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>999+</i>
                        <span>生活</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">搞笑</a></li>
                        <li><a href="#">日常</a></li>
                        <li><a href="#">美食圈</a></li>
                        <li><a href="#">动物圈</a></li>
                        <li><a href="#">手工</a></li>
                        <li><a href="#">绘画</a></li>
                        <li><a href="#">运动</a></li>
                        <li><a href="#">其他</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>112</i>
                        <span>鬼畜</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">鬼畜调教</a></li>
                        <li><a href="#">音MAD</a></li>
                        <li><a href="#">人力VOCALOID</a></li>
                        <li><a href="#">教程演示</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>832</i>
                        <span>时尚</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">美妆</a></li>
                        <li><a href="#">服饰</a></li>
                        <li><a href="#">健身</a></li>
                        <li><a href="#">T台</a></li>
                        <li><a href="#">风向标</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>137</i>
                        <span>广告</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <i>999+</i>
                        <span>娱乐</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">综艺</a></li>
                        <li><a href="#">明星</a></li>
                        <li><a href="#">Korea相关</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>999+</i>
                        <span>影视</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">影视杂谈</a></li>
                        <li><a href="#">影视剪辑</a></li>
                        <li><a href="#">短片</a></li>
                        <li><a href="#">预告·资讯</a></li>
                        <li><a href="#">特摄</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="#">
                        <i>327</i>
                        <span>放映厅</span>
                    </a>
                    <ul class="menu-list">
                        <li><a href="#">纪录片</a></li>
                        <li><a href="#">电影</a></li>
                        <li><a href="#">电视剧</a></li>
                    </ul>
                </li>
                <li class="right-nav zl">
                    <a href="#">
                        <i></i>
                        <span>专栏</span>
                    </a>
                </li>
                <li class="right-nav gc">
                    <a href="#">
                        <i></i>
                        <span>广场</span>
                    </a>
                </li>
                <li class="right-nav zb">
                    <a href="#">
                        <i></i>
                        <span>直播</span>
                    </a>
                </li>
                <li class="right-nav hw">
                    <a href="#">
                        <i></i>
                        <span>小黑屋</span>
                    </a>
                </li>
            </ul>
            <div class="nav-img">
                <a href="#"><img src="img/nav-img.gif"></a>
            </div>
        </div>
        <div class="video-box clearfix">
            <!-- 自动播放轮播图区域 -->
            <div class="video-tab">
                <ul class="clearfix video-list">
                    <!-- <li>
                        <a href="#"><img src="img/video-img/video-play1.jpeg"></a>
                    </li>
                    <li>
                        <a href="#"><img src="img/video-img/video-play2.jpeg"></a>
                    </li>
                    <li>
                        <a href="#"><img src="img/video-img/video-play3.webp"></a>
                    </li>
                    <li>
                        <a href="#"><img src="img/video-img/video-play4.webp"></a>
                    </li>
                    <li>
                        <a href="#"><img src="img/video-img/video-play5.webp"></a>
                    </li> -->
                </ul>
                <div class="video-wrap">
                    <p class="video-text">B站神仙旅拍vlogger大合集！</p>
                    <ul class="btns-list">
                        <!-- <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li> -->
                    </ul>
                </div>
            </div>
            <!-- vue数据切换生成对应的列表内容 -->
            <div id="videoImgWrap">
                <a href="javascript:;" class="prev btn" @click="prevTab" v-text="prevBtnVal"></a>
                <a href="javascript:;" class="next btn" @click="nextTab" v-text="nextBtnVal"></a>
                <div class="img-item" v-for="item in videoList">
                    <a href="#" :title="item.title">
                        <img :src="item.src" :alt="item.title" width="160" height="100">
                        <span class="text" v-text="item.title"></span>
                        <span class="video-mark">
                            <span class="title" v-text="item.title"></span>
                            <span class="autor" v-text="item.autor"></span>
                            <span class="num" v-text="item.num"></span>
                        </span>
                    </a>
                    <span class="watch"></span>
                </div>
            </div>
        </div>
        <div class="bili-spread clearfix">
            <div class="spread-left">
                <div class="header">
                    <span class="img"></span>
                    <h3 class="title">推广</h3>
                </div>
                <!-- vue渲染推广列表 -->
                <div class="spread-list">
                    <a href="#" class="item" v-for="item in spreadList">
                        <img :src="item.src" :alt="item.title" width="160" height="100">
                        <span :title="item.title" class="text">{{item.title}}</span>
                        <span class="mark">
                            <em class="time">{{item.time}}</em>
                            <span class="watch"></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="spread-right">
                <div class="num">
                    <a href="#">在线人数：3841354</a>
                    <em></em>
                    <a href="#">最新投稿：23151</a>
                </div>
                <div class="pic">
                    <a href="#"><img src="img/spread-img5.jpg" width="260" height="150"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bili-banner">
        <a href="#"><img src="img/banner.jpg"></a>
    </div>
    <!-- 直播视频列表 -->
    <div id="bili-live-box" class="changeItemBox">
        <div class="bili-live clearfix">
            <div class="bili-left">
                <div class="header clearfix">
                    <span class="img"></span>
                    <a class="title" href="#">正在直播</a>
                    <p class="online">当前共有<span>5086</span>个在线主播</p>
                    <a href="#" class="fire"><i class="ico"></i>233秒居然能做这些！</a>
                    <div class="right-link clearfix">
                        <div class="trends">
                            <i class="icon-read"></i>
                            <span class="info">
                                <b>6530</b>条动态
                            </span>
                        </div>
                        <a href="#" class="link-more">
                            <span class="more">更多</span>
                            <i class="triangle"></i>
                        </a>
                    </div>
                </div>
                <!-- vue渲染视频直播列表 -->
                <div class="bili-live-list clearfix">
                    <a href="#" class="item" v-for="item in liveList">
                        <img :src="item.src" width="160" height="100">
                        <div class="text">
                            <span class="autor">{{item.autor}}</span>
                            <span class="online"><i></i>{{item.num}}</span>
                        </div>
                        <div class="live-hover">
                            <img :src="item.hover" width="160" height="100">
                        </div>
                        <p :title="item.title" class="p-title">{{item.title}}</p>
                        <p class="type">{{item.type}}</p>
                    </a>
                </div>
            </div>
            <!-- 侧边栏左右切换 -->
            <div class="bili-tab-live">
                <div class="nav-link clearfix">
                    <a href="javascript:;" class="link-to">直播排行</a>
                    <a href="javascript:;" class="link-to">关注的主播</a>
                    <a href="javascript:;" class="link-to active">为你推荐</a>
                </div>
                <div class="tab-box">
                    <div class="tab-con clearfix">
                        <div class="tab-item">
                            <ul class="list">
                                <li class="li-item">
                                    <span class="id main">1</span>
                                    <a href="#" class="clearfix">
                                        <img src="img/bili-tab-img1.webp">
                                        <div class="text">
                                            <p class="p-name clearfix">
                                                <span class="name">你的苏暖</span>
                                                <span class="nums">
                                                    <i></i>
                                                    <em>22.1万</em>
                                                </span>
                                            </p>
                                            <p class="p-say" title="【声控】我是你的暖">【声控】我是你的暖</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="li-item">
                                    <span class="id main">2</span>
                                    <a href="#" class="clearfix">
                                        <img src="img/bili-tab-img2.webp">
                                        <div class="text">
                                            <p class="p-name clearfix">
                                                <span class="name">OldBa1</span>
                                                <span class="nums">
                                                    <i></i>
                                                    <em>18.4万</em>
                                                </span>
                                            </p>
                                            <p class="p-say" title="王者新手，娱乐">王者新手，娱乐</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="li-item">
                                    <span class="id main">3</span>
                                    <a href="#" class="clearfix">
                                        <img src="img/bili-tab-img3.webp">
                                        <div class="text">
                                            <p class="p-name clearfix">
                                                <span class="name">一米八的坤儿</span>
                                                <span class="nums">
                                                    <i></i>
                                                    <em>13.4万</em>
                                                </span>
                                            </p>
                                            <p class="p-say" title="不好意思大家，来晚啦。">不好意思大家，来晚啦。</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="li-item">
                                    <span class="id">4</span>
                                    <a href="#" class="clearfix">
                                        <img src="img/bili-tab-img4.webp">
                                        <div class="text">
                                            <p class="p-name clearfix">
                                                <span class="name">逍遥散人</span>
                                                <span class="nums">
                                                    <i></i>
                                                    <em>11.5万</em>
                                                </span>
                                            </p>
                                            <p class="p-say" title="休闲音游 Muse Dash">休闲音游 Muse Dash</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="li-item">
                                    <span class="id">5</span>
                                    <a href="#" class="clearfix">
                                        <img src="img/bili-tab-img5.webp">
                                        <div class="text">
                                            <p class="p-name clearfix">
                                                <span class="name">少年Pi</span>
                                                <span class="nums">
                                                    <i></i>
                                                    <em>8.7万</em>
                                                </span>
                                            </p>
                                            <p class="p-say" title="去龙门街头赚钱">去龙门街头赚钱</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="li-item">
                                    <span class="id">6</span>
                                    <a href="#" class="clearfix">
                                        <img src="img/bili-tab-img6.webp">
                                        <div class="text">
                                            <p class="p-name clearfix">
                                                <span class="name">AnKe-Poi</span>
                                                <span class="nums">
                                                    <i></i>
                                                    <em>8.9万</em>
                                                </span>
                                            </p>
                                            <p class="p-say" title="天梯上分凹">天梯上分凹</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-item">
                            <div class="empty-box">
                                <span>没有数据(-_-#)</span>
                            </div>
                        </div>
                        <div class="tab-item">
                            <div class="item-wrap" id="bili-item-wrap">
                                <ul class="live-tab-img clearfix">
                                    <li><a href="#"><img src="img/live-tab1.webp"></a></li>
                                    <li><a href="#"><img src="img/live-tab2.webp"></a></li>
                                </ul>
                                <ul class="live-tab-title">
                                    <li class="on"><a href="#">今日LPL赛事！</a></li>
                                    <li><a href="#">一场关于音乐的分区竞技</a></li>
                                </ul>
                                <div class="live-tab-btn">
                                    <span class="active"></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="live-pic clearfix">
                                <a href="#" class="photo">
                                    <img src="img/photo.png">
                                </a>
                                <a href="#" class="video">
                                    <img src="img/video.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bili-component">
        <div class="animation-box clearfix changeItemBox">
            <!-- 动画视频列表组件 -->
            <bili-content-list :list="animatioinList" title="动画" num="16287" type="animation"></bili-content-list>
            <!-- 动画侧边栏列表组件 -->
            <bili-aside-list :list="animationAsideList"></bili-aside-list>
        </div>
        <div class="banner">
            <a href="#"><img src="img/component/banner.jpg"></a>
        </div>
        <div class="opera-box clearfix changeItemBox">
            <!-- 番剧列表组件 -->
            <bili-opera-list :list="operaList" title="番剧" type="opera"></bili-opera-list>
            <!-- 番剧侧边栏组件 -->
            <opera-aside-list :list="operaAsideList"></opera-aside-list>
        </div>
        <div class="opera-dynamic-box clearfix">
            <!-- 番剧动态组件 -->
            <bili-content-list :list="operaDynamic" num="3689" >
                <a href="#" slot="title" class="title" style="font-size: 18px">番剧动态</a>
            </bili-content-list>
            <!-- 特别推荐 -->
            <div class="recommend-aside">
                <h3 class="title">特别推荐</h3>
                <div class="recommend-panel">
                    <div class="pic-list clearfix">
                        <a href="#"><img src="img/component/recommend1.webp"></a>
                        <a href="#"><img src="img/component/recommend2.webp"></a>
                    </div>
                    <div class="text">
                        <a href="#" class="on">为文豪野犬干杯！</a>
                        <a href="#">骨头社二十周年纪念作品</a>
                    </div>
                    <div class="btns">
                        <span class="active"></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="nation-box clearfix changeItemBox">
            <!-- 国创组件 -->
            <bili-opera-list :list="nationList" title="国创" type="nation"></bili-opera-list>
            <!-- 国创侧边栏组件 -->
            <opera-aside-list :list="nationAsideList">
                <div class="nation-tab-box">
                    <div class="nation-wrap clearfix">
                        <a href="#"><img src="img/component/nation-tab-img1.webp"></a>
                        <a href="#"><img src="img/component/nation-tab-img2.webp"></a>
                    </div>
                    <div class="title">
                        <a href="#" class="on"></a>
                        <a href="#"></a>
                    </div>
                    <div class="btns">
                        <span class="active"></span>
                        <span></span>
                    </div>
                </div>
            </opera-aside-list>
        </div>
        <div class="domestic-box clearfix">
            <!-- 国产原创内容组件 -->
            <bili-content-list :list="domesticList" num="4105">
                <a href="#" slot="title" class="title" style="font-size: 18px">国产原创相关</a>
            </bili-content-list>
            <!-- 国产原创侧边栏组件 -->
            <bili-aside-list :list="domesticAsideList"></bili-aside-list>
        </div>
        <div class="banner">
            <a href="#"><img src="img/component/banner2.jpg"></a>
        </div>
        <div class="music-box clearfix changeItemBox">
            <!-- 音乐组件 -->
            <bili-content-list :list="musicList" title="音乐" num="4429" type="music"></bili-content-list>
            <!-- 音乐侧边栏组件 -->
            <bili-aside-list :list="musciAsideList"></bili-aside-list>
        </div>
        <div class="dance-box clearfix changeItemBox">
            <!-- 舞蹈视频组件 -->
            <bili-content-list :list="danceList" title="舞蹈" num="2439" type="dance"></bili-content-list>
            <!-- 舞蹈侧边栏组件 -->
            <bili-aside-list :list="danceAsideList"></bili-aside-list>
        </div>
        <div class="play-game-box clearfix changeItemBox">
            <!-- 游戏视频组件 -->
            <bili-content-list :list="gameList" title="游戏" num="72843" type="game"></bili-content-list>
            <!-- 游戏侧边栏组件 -->
            <bili-aside-list :list="gameAsideList"></bili-aside-list>
        </div>
        <div class="science-box clearfix changeItemBox">
            <!-- 科技视频组件 -->
            <bili-content-list :list="scienceList" title="科技" num="1135" type="science"></bili-content-list>
            <!-- 科技侧边栏组件 -->
            <bili-aside-list :list="scienceAsideList"></bili-aside-list>
        </div>
        <div class="digital-box clearfix changeItemBox">
            <!-- 数码视频组件 -->
            <bili-content-list :list="digitalList" title="数码" num="210" type="digital"></bili-content-list>
            <!-- 数码侧边栏组件 -->
            <bili-aside-list :list="digitalAsidelList"></bili-aside-list>
        </div>
        <div class="life-box clearfix changeItemBox">
            <!-- 生活视频组件 -->
            <bili-content-list :list="lifeList" title="生活" num="12118" type="life"></bili-content-list>
            <!-- 生活侧边栏组件 -->
            <bili-aside-list :list="lifeAsideList"></bili-aside-list>
        </div>
        <div class="ghost-box clearfix changeItemBox">
            <!-- 鬼畜视频组件 -->
            <bili-content-list :list="ghostList" title="鬼畜" num="1539" type="ghost"></bili-content-list>
            <!-- 鬼畜侧边栏组件 -->
            <bili-aside-list :list="ghostAsideList"></bili-aside-list>
        </div>
        <div class="fashion-box clearfix changeItemBox">
            <!-- 时尚视频组件 -->
            <bili-content-list :list="fashionList" title="时尚" num="4326" type="fashion"></bili-content-list>
            <!-- 时尚侧边栏组件 -->
            <bili-aside-list :list="fashionAsideList"></bili-aside-list>
        </div>
        <div class="adver-box clearfix changeItemBox">
            <!-- 广告视频组件 -->
            <bili-content-list :list="adverList" title="广告" num="121" type="adver"></bili-content-list>
            <!-- 广告侧边栏组件 -->
            <bili-aside-list :list="adverAsideList"></bili-aside-list>
        </div>
        <div class="entertain-box clearfix changeItemBox">
            <!-- 娱乐视频组件 -->
            <bili-content-list :list="entertainList" title="娱乐" num="2249" type="entertain"></bili-content-list>
            <!-- 娱乐侧边栏组件 -->
            <bili-aside-list :list="entertainAsideList"></bili-aside-list>
        </div>
        <!-- 专栏区域 -->
        <div class="column-box clearfix changeItemBox">
            <div class="column-left">
                <div class="header">
                    <i class="icon"></i>
                    <a href="#" class="title">专栏</a>
                    <div class="right clearfix">
                        <div class="read-push">
                            <i class="icon-read"></i>
                            <span>换一换</span>
                        </div>
                        <a href="#" class="link-more"><span>更多</span><i class="ico"></i></a>
                    </div>
                </div>
                <div class="column-list clearfix">
                    <div class="item" v-for="item in columnList">
                        <a href="#" class="img"><img :src="item.src"></a>
                        <div class="text-box">
                            <a href="#" class="txt">{{item.title}}</a>
                            <p class="data">
                                <span class="view"><i class="ico"></i>{{item.view}}</span>
                                <span class="comment"><i class="ico"></i>{{item.comment}}</span>
                                <span class="name"><a href="#">{{item.name}}</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="component-aside-wrap">
                <div class="header">
                    <h3 class="title">排行</h3>
                    <div class="bili-dropdown">
                        <span>{{columnType}}</span>
                        <i class="ico"></i>
                        <ul class="dropdown-list">
                            <li class="dropdown-item" @click="changeList('一日')" :style="{display:columnType=='一日' ? 'none' : 'block'}">一日</li>
                            <li class="dropdown-item" @click="changeList('一周')" :style="{display:columnType=='一周' ? 'none' : 'block'}">一周</li>
                        </ul>
                    </div>
                </div>
                <div class="rank-list-wrap clearfix" ref="list">
                    <ul class="rank-list">
                        <li class="item" v-for="item in columnAsideList">
                            <span class="id">{{item.id}}</span>
                            <a href="#">{{item.title}}</a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="aside-link-more">查看更多<i class="ico"></i></a>
            </div>
        </div>
        <div class="movie-box clearfix changeItemBox">
            <!-- 电影组件 -->
            <bili-content-list :list="movieList" title="电影" num="134" type="movie"></bili-content-list>
            <!-- 电影侧边栏组件 -->
            <video-aside-list :list="movieAsideList"></video-aside-list>
        </div>
        <div class="tv-box clearfix changeItemBox">
            <!-- 电视剧组件 -->
            <bili-content-list :list="tvList" title="电视剧" num="881" type="tv"></bili-content-list>
            <!-- 电视剧侧边栏组件 -->
            <video-aside-list :list="tvAsideList"></video-aside-list>
        </div>
        <div class="film-box clearfix changeItemBox">
            <!-- 影视组件 -->
            <bili-content-list :list="filmList" title="影视" num="63964" type="film"></bili-content-list>
            <!-- 影视侧边栏组件 -->
            <bili-aside-list :list="filmAsideList"></bili-aside-list>
        </div>
        <div class="documentary-box clearfix changeItemBox">
            <!-- 纪录片组件 -->
            <bili-content-list :list="documentaryList" title="纪录片" num="4295" type="documentary"></bili-content-list>
            <!-- 纪录片边栏组件 -->
            <bili-aside-list :list="documentaryAsideList"></bili-aside-list>
        </div>
        <!-- 特别推荐 -->
        <div class="recommend-box clearfix">
            <div class="recommend-left">
                <div class="recommend-header">
                    <i class="ico" class="ico"></i>
                    <a href="#" class="title">特别推荐</a>
                </div>
                <div class="recommend-wrap clearfix">
                    <div class="recommend-list" v-for="item in recommendList">
                        <a href="#">
                            <div class="pic-box">
                                <img :src="item.src">
                                <div class="watch"></div>
                            </div>
                            <p :title="item.title">{{item.title}}</p>
                        </a>
                        <div class="user">
                            <a href="#">
                                <div class="face">
                                    <img :src="item.userImg">
                                </div>
                                <span class="name">{{item.username}}</span>
                            </a>
                            <span class="tag">推荐</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recommend-right">
                <a href="#"><img src="img/component/recommend-aside.webp"></a>
            </div>
        </div>
    </div>
    <!-- 页面底部区域 -->
    <div id="bili-footer">
        <div class="footer-wrap">
            <div class="nav-list clearfix">
                <dl class="item">
                    <dt>bilibili</dt>
                    <dd><a href="#">关于我们</a></dd>
                    <dd><a href="#">联系我们</a></dd>
                    <dd><a href="#">加入我们</a></dd>
                    <dd><a href="#">友情链接</a></dd>
                    <dd><a href="#">bilibili认证</a></dd>
                    <dd><a href="#">Investor Relations</a></dd>
                </dl>
                <dl class="item">
                    <dt>传送门</dt>
                    <dd><a href="#">帮助中心</a></dd>
                    <dd><a href="#">高级弹幕</a></dd>
                    <dd><a href="#">活动专题页</a></dd>
                    <dd><a href="#">侵权申诉</a></dd>
                    <dd><a href="#">活动中心</a></dd>
                    <dd><a href="#">用户反馈论坛</a></dd>
                    <dd><a href="#">壁纸站</a></dd>
                    <dd><a href="#">名人堂</a></dd>
                    <dd><a href="#">专车号服务中心</a></dd>
                </dl>
                <div class="item">
                    <a href="#" class="links">
                        <div class="pic one"></div>
                        <span>客户端下载</span>
                    </a>
                    <a href="#" class="links">
                        <div class="pic two"></div>
                        <span>新浪微博</span>
                    </a>
                    <a href="#" class="links">
                        <div class="pic three"></div>
                        <span>官方微信</span>
                    </a>
                </div>
            </div>
            <div class="bili-info clearfix">
                <div class="left">
                    <div class="partner-banner"></div>
                    <div class="pic962110"></div>
                    <a href="#"><img src="img/safe.png"></a>
                </div>
                <div class="right">
                    <p>广播电视节目制作经营许可证：（沪）字第1248号 | 网络文化经营许可证：沪网文[2016]2296-134号 | 信息网络传播视听节目许可证：0910417 | 互联网ICP备案：<a href="#">沪ICP备13002172号-3</a>
                    沪ICP证：沪B2-20100043 | 违法不良信息举报邮箱：help@bilibili.com | 违法不良信息举报电话：4000233233转3 | <a href="#">营业执照</a></p>
                    <p>
                        <a href="#"><i></i>上海互联网举报中心</a> |
                        <a href="#">12318 全国文化市场举报网站</a> | 
                        <a href="#"><img src="img/beiantubiao.png"> 沪公网安备 31011002002436号</a> |
                        <a href="#">儿童色情信息举报专区</a>
                    </p>
                    <p>
                        <a href="#">网上有害信息举报专区：<img src="img/12377.png" width="16" height="16" style="vertical-align: sub"> 中国互联网违法和不良信息举报中心</a>
                    </p>
                    <p>亲爱的市民朋友，上海警方反诈劝阻电话“962110”系专门针对避免您财产被骗受损而设，请您一旦收到来电，立即接听。</p>
                    <p>公司名称：上海宽娱数码科技有限公司 | 公司地址：上海市杨浦区政立路485号 | 电话：021-25099888</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 侧边栏导航区域 -->
    <div class="bili-aside-nav">
        <div class="nav-wrap">
            <ul class="nav-list">
                <li>直播</li>
                <li>动画</li>
                <li>番剧</li>
                <li>国创</li>
                <li>音乐</li>
                <li>舞蹈</li>
                <li>游戏</li>
                <li>科技</li>
                <li>数码</li>
                <li>生活</li>
                <li>鬼畜</li>
                <li>时尚</li>
                <li>广告</li>
                <li>娱乐</li>
                <li>专栏</li>
                <li>电影</li>
                <li>TV剧</li>
                <li>影视</li>
                <li>纪录片</li>
            </ul>
            <div class="sort"><i></i>排序</div>
        </div>
        <div class="two-line"></div>
        <div class="back-top"></div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/data.js"></script>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/components.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/index.js"></script>
</html>